

.admin-panel {
	margin: 0 70px 30px 70px;
	padding: 30px;
	border-radius: 5px;
	background: $bg-medium;
	display: flex;


	&>div {
		flex: 1;
		margin: 10px;
	}
	.list {
		p {
			cursor: pointer;
			border: 1px solid #646464;
			margin: 0;
			padding: 2px;
			&:hover {color: #c3f9ff; }
			&:active {
				color: #5fefff;
				background-color: #4c4c4c;
			}
		}
		a {text-decoration: none; }
	}

	.movie-details {
		color: white;
		input {
			width: 100%;
		}
	}
}

.flex {
	display: flex;
	&>img {
		height: auto;
		flex: 1;
	}
	&>div {
		flex: 1;
		margin: 0 10px;
	}
}

.issues {
	.list_card {
		margin: 2px 0;
	}
}
.list_card {
	display: flex;
	p {
		flex: 10;
	}
	div {
		flex: 1;
		padding: 5px;
		cursor: pointer;
		color: white;
	}

	.srv1 {
		background-color: $bg-lighter;
	}
	.srv2 {
		background-color: black;
	}

	&.tier-3 {
		p {
			font-weight: bold;
			border: 2px solid $main_red;
		}
	}


	/// request divs
	// .remove_req {
	// 	background-color: #cb2121;
	// 	&:hover {
	// 		background-color: $hover_red;
	// 	}
	// }
	.req_rating {
		background-color: $bg-lighter;
	}
	.req_count {
		border: 1px solid #646464;
	}
	.req_user {
		// flex: 4;
		background-color: black;
		border: 1px solid white;
		&.tier-0 {
			background-color: black;
			border: 1px solid white;
		}
		&.tier-1 {
			background-color: #F91B7E;
			border: 1px solid #F91B7E;
		}
		&.tier-2 {
			background-color: #3AE7F6;
			border: 1px solid #3ae7f6;
			color: black;
			font-weight: bold;
		}
		&.tier-3 {
			background-color: white;
			border: 1px solid white;
			color: black;
			font-weight: bold;
		}
	}
	.req_date {
		display: block;
		font-size: 0.8em;
		color: $light_red;
	}
}


// .remove_movie {
// 	position: absolute;
// 	padding: 10px;
// 	background-color: #cb2121;
// 	&:hover {
// 		background-color: $hover_red;
// 	}
// }


.remove {
	background: $main_red;
	cursor: pointer;
	&:hover {
		background: $hover_red;
	}
}

.invite-codes {
	text-align: left;
	color: $text-color;
	
	.uses {
		background: $bg-lighter;
	}
	// .rem_code {
	// 	background: $main_red;
	// 	cursor: pointer;
	// 	&:hover {
	// 		background: $hover_red;
	// 	}
	// }
}

.card {
	margin: 5px;
	border: 1px solid #646464;
	span { 
		color: white;
		padding: 0 10px;
	}
	display: inline-block;
}

.recent-users {
	text-align: left;
	.invite_code { background: $bg-lighter;  }
}


.edit-panel {
	display: none;
	z-index: 2;
	position: fixed;
	bottom: 0;
	background: $bg-medium;

	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 40px;

	padding: 25px 50px 50px 50px;
	margin: 0 25%;
	input {
		width: 48%;
		&.short {
			width: 21.5%;
		}
		&.shorter {
			width: 11%;
		}
	}
	input, select, button {
		margin: 10px 5px;
	}
	button {
		width: 130px;
		display: inline-block;
	}

	.close-btn {
		position: absolute;
		right: 25px;
	}

	.edit-image {
		flex: 1;
	}
	.edit-inputs {
		flex: 9;
	}
	.circle-image {
		margin: 10px 0;
		width: 100px;
		height: 145px;
		border-radius: 5px;
		background-position: center center;
		background-size: cover;
	}
}


.marked-for-deletion {
	background: #6b1a1a;
}