* {
  box-sizing: border-box;
}

html {
  margin: 0;
  max-width: 100%;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-style: normal;
  background-color: $bg-dark;
}

body {
  width: 70vw;
  padding: 2em;
  margin: 0 auto;
  border: 1px solid white;
}

h1, h2 {
  font-weight: bold;
}

h1, h2, h3, h4, p, label {
  color: #ccdbe6;
  font-style: normal;
  text-align: left;
}


a {
  color: #ffffff;
  text-decoration: none;
}

input, select {
  padding: 9px;
  height: 35px;
  outline: none;
  margin: 5px 0;
  border-radius: 2px;
  border: 2px solid #2f3f4a;
  background-color: #242a2f;
  color: #99adbb;
}


ul {
  li {
    color: $text-color;
    text-align: left;
    margin: 10px 0;
  }
}


.divider {
  display: inline-block;
  width: 10px;
}

button {
  outline: none;
  margin: 5px 0;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  border: 0;
  transition: all 0.2s ease-in-out;

  &.inline {
    display: inline-block;
    width: calc(50% - 5px);
  }

  &.red {
    background-color: $main_red;
    border: 2px solid $border_red;
    padding: 9px;
    height: 35px;

    &:hover {
      background-color: $hover_red;
      border: 2px solid $main_red;
    }
  }

  &.white {
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 20px;

    &.small {
      padding: 8px;
      font-weight: normal;
    }

    &.large {
      font-size: 1.5em;
      height: unset;
    }

    font-weight: bold;

    &:hover {
      background-color: white;
      color: $bg-dark;
    }
  }

  &.green {
    background-color: #50AB1F;
    border: 2px solid #396F00;
  }
}


.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}



::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $bg-light;
}

::-webkit-scrollbar-thumb {
  background: #ea2731;

  &:hover {
    background: $main_red;
  }
}

::-webkit-scrollbar-corner {
  background: #a61e28;
}