.report-issue {
	display: none;
	z-index: 1006;
	position: fixed;
	left: 50%;
	top: 30%;
	width: 500px;
	margin-left: -250px;
	
	.msgbox {
		background-color: $bg-light;
		padding: 2em;
		border-radius: 5px;
		h4 {
			// font-weight: bold;
			margin: 10px 0;
		}
		select {
			width: 100%;
			height: 3em;
		}
	}
	.other-box {
		display: none;
	}

	input {
		width: 100%;
	}
}