
#light {
	display: none;
}

.lightbox {
	background: $bg-dark;
	max-width: 110vh;
	z-index: 1002;
	// border: 1px solid white;
	overflow: visible;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	
	@include transform(translate(-50%, -50%));


	video, video:focus {
		outline: none;
	}

	.video-info {
		@include flex();
		border: 5px solid $bg-light;
		background: $bg-dark;
		padding: 1em;

	
		.controls {
			text-align: center;
			flex: 1;
			
			.control-buttons {
				&>div {
					display: inline-block;
					width: initial;
					margin-right: 0.5em;
				}
				&>p {
					display: inline-block;
				}
				.control-btn {
					margin: 10px 20px;
					z-index: 1;
					vertical-align: middle;
					position: relative;

					&:hover {
						.tip {
							visibility: visible;
							opacity: 1;
						}
					}
				}


				.tip {
					@include transition(all 0.3s ease);
					opacity: 0;
					visibility: hidden;
					left: 50%;
					bottom: 70px;
					margin-left: -80px;
					position: absolute;
					background: white;
					border-radius: 10px;
					width: 160px;
					padding: 10px;
					text-align: center;

					&:after {
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						border-width: 10px;
						border-style: solid;
						border-color: #FFFFFF transparent transparent transparent;
						bottom: -19px;
						left: 70px;
					}
				}
			}
		}

	}

}





#fade {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: .80;
	filter: alpha(opacity=80);
}