
.movies {
	&>div {
		// overflow: hidden;

		vertical-align: top;
		margin: 2% 1.5%;
		height: auto;
		position: relative;
		width: auto;
		max-width: $poster-width;
		display: inline-block;
		cursor: pointer;

		.title {
			font-weight: bold;
			font-size: 1.3em;
		}


		.details {
			color: #83919c;
			font-size: 0.9em;
			text-align: left;
			.point {
				vertical-align: middle;
				font-size: 1.5em;
				margin: 0 5px;
			}
		}

		span.bt {
			margin: 10px 0;
			display: block;
			height: 5px;
			background: $bg-light;
			width: 100%;

			&>span {
				background: $main_red;
				width: 0;
				height: 5px;
				display: block;
			}
		}

		&:hover {
			.controls {
				pointer-events: all;
				opacity: 1;
			}
		}

		.controls {
			transition: all 0.5s cubic-bezier(.25,.8,.25,1);
			pointer-events: none;
			opacity: 0;

			position: absolute;
			width: 100%;
			height: $poster-height;
			top: 0;
			z-index: 1;
			// padding: 20px;
			background: $overlay;
			border-radius: 5px;
			border: 6px solid $main_red;
			
			.control-buttons {
				position: relative;
				padding: 20px;
				height: 100%;
				
				.play {
					position: absolute;
					width: 100px;
					height: 100px;
					font-size: 3em;
					border: 3px solid white;
					left: 50%;
					top: 50%;
					margin: -50px;
					i {
						width: 55px;
					}
				}
				.watchlist, .watched, .favourites, .info, .edit-btn { 
					position: absolute; 
				}

				.watchlist {left: 20px; top: 20px; }
				.watched {right: 20px; top: 20px; }
				.favourites {left: 20px; bottom: 20px; }
				.info {right: 20px; bottom: 20px; }
				
				.edit-btn {left: calc(50% - 25px); bottom: 20px; }
				
				button {
					background: transparent;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					font-size: 1.2em;
					border: 2px solid white;
					transition: all 0.5s cubic-bezier(.25,.8,.25,1);
					
					&.active, &:hover {
						background: white;
						color: black;
					}
				}
			}
		}


		p {
			word-break: break-word;
			font-size: 15px;
			margin: 10px 0 0;
		}
		> p {
			> i {
				padding-right: 20px;
				font-size: 20px;
			}
			> a > i {
				padding-right: 20px;
				font-size: 20px;
			}
		}




		.poster {
			width: 100%;
			height: $poster-height;
			border-radius: 5px;
			object-fit: cover;
			background-color: $bg-light;
			-webkit-box-shadow: 0px 0px 50px -28px rgba(255,255,255,0.6);
			-moz-box-shadow: 0px 0px 50px -28px rgba(255,255,255,0.6);
			box-shadow: 0px 0px 50px -28px rgba(255,255,255,0.6);
		}

		&.glow_1 {
			.poster {
				border: 6px solid $red_highlight;
			}
			p {color: $red_highlight;}
		}
		&.glow_2 {
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);

			.pick {
				position: relative;
			}
			.pick::after {
				content: "Admin's top picks";
				background: $blue_highlight;
				display: block;
				color: black;
				font-size: 0.7em;
				text-align: center;
				font-weight: normal;
				letter-spacing: 5px;
				text-transform: uppercase;
				font-weight: bold;
				padding: 15px 0 10px 0;
				bottom: 10px;
				width: 100%;
				position: absolute;
			}

			.poster {
				border: 6px solid $blue_highlight;
			}
			p {color: $blue_highlight;}
		}
	}
}







.add-btn,
.rm-btn,
.edit-btn,
.info-btn,
.close-btn,
.rm-watching-btn
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s ease;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    cursor: pointer;

	i {
		font-size: 1.5em;
		color: white;
		padding: 0.5em;
	}
    
    &:hover {
    	@include transform(scale(1.2));
    }
    box-shadow: inset 0 0 0 2px white;
    overflow: hidden;
	

	input[type="checkbox"]
	{
		cursor: pointer;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    opacity: 0;
	    z-index: 3;

	    &:checked {
	    	&~i {
	    		z-index: 999;
	    		color: black;
	    	}
	    	&~.layer {
	      		opacity: 1;
	      		transform: scale(35);
	    	}
	    }

	}

	.layer
	{
	    position: absolute;
	    left: 50%;
	    bottom: 50%;
	    margin-bottom: -1px;
	    margin-left: -1px;
	    width: 2px;
	    height: 2px;
	    background-color: white;
	    border-radius: 50%;
	    transition: 0.3s ease all;
	    z-index: -1;
	    opacity: 0;
	}
}


.lightbox {
	.close-btn {
		position: absolute;
		right: -50px;
		top: -50px;
	}
}