@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}


@mixin flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/*===================
= Colors
====================*/

$hover_red: #fc4977;
$main_red: #FF1F59;
$light_red: #FF3B6E;
$mid_red: #E3144A;
$border_red: #D51446;
$dark_red: #D51446;

$overlay: rgba(255, 41, 96, 0.6);



$bg-light: #252e36;
$bg-medium: #11161A;
$bg-dark: #090C0F;

$bg-lighter: #3D474F;

$alt: $bg-lighter;
$alt-hover: #364048;


$text-color: #ccdbe6;


$blue_highlight: #3AE7F6;
$red_highlight: #F91B7E;